body, h2 {
    margin: 0px;
    padding: 0px;
    color: white;
}

section#content, aside, header, footer {
    margin: 5px 0px;
    background: #555555;
}

h2 {
    text-align: center;
    font-size: 3em;
}

section#sction {
    margin: 0px auto;
    width: 960px;
}

header {
    float: left;
    width: 100%;
    line-height: 100px;
}

#left {
    float: left;
    width: 200px;
    line-height: 400px;
}

section#content {
    float: left;
    width: 540px;
    line-height: 400px;
    margin-left: 10px;
}

#right {
    float: right;
    width: 200px;
    line-height: 400px;
}

footer {
    float: left;
    width: 100%;
    line-height: 100px;
}
