h2 {
    color: #c61800;
    font-size: 1.5em;
}

section#sction {
    width: 640px;
}

header {
    line-height: 50px;
}

#left {
    width: 100%;
    line-height: 100px;
}

section#content {
    width: 100%;
    line-height: 250px;
    margin-left: 0px;
}

#right {
    float: left;
    width: 100%;
    line-height: 100px;
}

footer {
    float: left;
    width: 100%;
    line-height: 30px;
}
